body{
    background-color: #333333;
}

.row{
    display: flex;
    margin: 0 auto;
    margin-top: 5px;
    padding: 0px;
    width: 640px;
    height: 25px;
    background-color: #444444;
    border-radius: 5px;
    color: white;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.rowItem{
    display: flex;
    flex-basis: 25%;
}

.maincontainer {
    margin: 0 auto;
    margin-bottom: 25px;
    width: 640px;
    min-height: 320px;
    max-height: fit-content;
    background-color: #444444;
    color: white;
    border-radius: 10px;
    justify-content: center;
    text-align: center;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
}

button{
    border: none;
    border-radius: 5px;
}

.btn{
    border: none;
    border-radius: 5px;
}


