<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="maincontainer">
        <div>
            <form method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="password" name="password" placeholder="Password">
                <input type="submit" value="Add user" formaction="addUser">
                <input type="submit" value="Login" formaction="login">
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${userList}">
                <td th:text="${user.userID}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.password}"/>
            </tr>
            </tbody>
        </table>
    </div>

</body>
</html>