body{
    background-color: black;
}

.row{
    margin: 0 auto;
    width: 640px;
    height: 20px;
    background: deeppink;
    border-radius: 5px;
}

.maincontainer {
    margin: 0 auto;
    width: 640px;
    height: 320px;
    background: lightgrey;
    border-radius: 10px;
}

.button{
    border: none;
    border-radius: 5px;
}