<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wishlist</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<div class="maincontainer">
    <div class="header">Create Wishlist</div>
    <form method="post">
        <input type="submit" value="Add wishlist" formaction="addWishlist">
        <input type="submit" value="Logout" formaction="logout">
    </form>

    <table>
        <thead>
        <tr>
            <th>Wishlist ID</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="wishlist: ${wishlists}">

            <td>Wishlist ID: <span th:text="${wishlist.wishlistID}"/>
                <form method="post">
                <input type="submit" value="Edit wishlist" formaction="editWishlist">
                    <input type="hidden" name="id" th:value="${wishlist.wishlistID}">
                </form>
            </td>



            <td>
                <!--                    <a th:href="@{'/viewOne/'+${person.id}}">-->
                <!--                        <button class="btn-viewOne" id="btn-viewOne">View a person</button>-->
                <!--                    </a>-->
                <!--                    <a th:href="@{'/deleteOne/'+${person.id}}">-->
                <!--                        <button class="btn-deleteOne" id="btn-deleteOne">Delete a person</button>-->
                <!--                    </a>-->
                <!--                    <a th:href="@{'/updateOne/'+${person.id}}">-->
                <!--                        <button class="btn-updateOne" id="btn-updateOne">Update a person</button>-->
                <!--                    </a>-->
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>